{% extends 'base.html' %}

{% block title %}<title>{{course.code}}</title>{% endblock title %}

{% block content %}
<div class="container m-5">
    <p><a href="{% url 'course_list' %}">Go back</a></p>
    <p>Name : {{course.name}}</p>
    <p>Code : {{course.code}}</p>
    <div class="my-5">
    <p>Notes Available:</p>
    {% if notes %}
        <ul>
            {% for note in notes %}
                <li>{{note.topic}} <span>  ------ <a href="{{note.note_file.url}}" target="_blank">View</a> | <a href="{{note.note_file.url}}" download>Download</a></span>
                {% if user == note.author.user %}
                    <p>
                    <a href="{% url 'note_delete' view.kwargs.code note.id %}">Delete</a> | 
                    <a href="{% url 'note_update' view.kwargs.code note.id %}">Update</a>
                    </p>
                {% endif %}
                {% if note in liked %}
                    <p>
                        <a href="#" style="display: none;" onclick="like(`{% url 'note_like' view.kwargs.code note.id %}`, {{note.id}}); return false;" id="like_{{ note.id }}">Like</a>
                        <a href="#" onclick="like(`{% url 'note_dislike' view.kwargs.code note.id %}`, {{note.id}}); return false;" id="dislike_{{ note.id }}">Dislike</a>
                    </p>
                {% else %}
                    <p>
                        <a href="#" onclick="like(`{% url 'note_like' view.kwargs.code note.id %}`, {{note.id}}); return false;" id="like_{{ note.id }}">Like</a>
                        <a href="#" style="display: none;" onclick="like(`{% url 'note_dislike' view.kwargs.code note.id %}`, {{note.id}}); return false;" id="dislike_{{ note.id }}">Dislike</a>
                    </p>
                {% endif %}
                <ul>
                {% if comments%}
                    {% for comment in comments %}
                        {% if comment.note == note %}
                            <li>{{comment.text}}</li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </ul>
                </li>
                <li>
                {% if user.is_authenticated %}
                    <form action="{% url 'comment_create' view.kwargs.code note.id%}" method="post">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{ comment_form | crispy}}
                        <input type="submit" value="Submit">
                    </form>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <p><a href="{% url 'note_create' course.code %}">Upload a note file</a></p>
    </div>
</div>
<script type="text/javascript">
function like(url, id) {
    $.post(url, {},  function(rowz){
        console.log(url, 'finished');
    }).fail(function(xhr) {
        alert('Url failed with '+xhr.status+' '+url);
    });
    $(`#like_${id}`).toggle();
    $(`#dislike_${id}`).toggle();
}
</script>
{% endblock content %}
