{% extends 'base.html' %}

{% block title %}<title>Upload a note</title>{% endblock title %}

{% block content %}
    <div class="container m-10">
        {% load crispy_forms_tags %}
        <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form | crispy}}
        <input type="submit" value="Submit">
        {% comment %} <input type="submit" 
           onclick="window.location='{% url 'course_detail' view.kwargs.code %}'; return false;" value="Cancel"> {% endcomment %}
        </form>
    </div>
{% endblock content %}