<!DOCTYPE html>
<html lang="en">


<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {% block title %}<title>Default</title>{% endblock title %}
    {% endblock head %}
</head>


<body>
    {% block leaders %}
    <div class="container m-5">
    <hX>Leaderboard</hX>
    <ol>
        {% for leader in leaders %} 
            <li>{{leader.name}} | {{leader.exp}}</li>
        {% endfor %}
    </ol>
    {% endblock leaders %}
    {% if user.is_authenticated and user.is_active %}
        <p>Current User: {{user.username}}</p>
    {% endif %}
    </div>
    {% block content %}{% endblock content %}
</body>
</html>